useDynLib(BASS, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(createBASSObject)
export(listAllHyper)
export(BASS.preprocess)
export(BASS.run)
export(BASS.postprocess)
export(plotCellTypes)
export(plotClusters)
export(plotCellTypeComp)